.noto-serif-font {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-style: normal;

}

/* width  */
.width {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
}

/* navbar style  */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu {
    display: flex;
    gap: 48px;
}

.menu li  {
    list-style: none;

}

.menu a {
    text-decoration: none;
    color: #8987A1;

}

.menu-content {
    display: flex;
    align-items: center;
    gap: 48px;
}

.Home {
    color: #252432;
    font-weight: bold;
}

.cart {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.cart i {
    color: rgba(0, 0, 0, 0.824);
}

.banner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: end;
    margin-top: 120px;
}

.banner-content {
    max-width: 570px;
    width: 100%;
}

.banner-title {
    font-weight: bold;
    font-size: 4rem;
    color: #000;
    margin-bottom: 5px;
}

.fresh {
    color: #E95A08;
}

.banner-description {
    color: rgba(0, 0, 0, 0.5);
    font-weight: 400;
    font-size: 1.3rem;
    font-family: Inter;
}

/* Our Plants style 
 */

.plant-content {

margin-top: 120px;
    justify-items: center;
}

.plant-title {
    font-weight: bold;
    font-size: 3rem;
    color: #000;
    margin-bottom: 5px;
}

.plant-description {

    max-width: 1000px;
    width: 100%;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 400;
    font-size: 1.3rem;
    font-family: Inter;

}

.plant-img {
    max-width: 270px;
    width: 100%;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    text-align: center;

}

.Lily {
    font-weight: 500;
    font-size: 1.3rem;
    font-family: Inter;
    color: #111111;
    margin-bottom: 2px;

}

.USD {
    font-weight: bold;
    font-size: 1.3rem;
    font-family: Inter;
    color: #111111;
    margin-top: 5px;
}

.btn {
    max-width: 270px;
    width: 100%;
    padding: 20px 50px;
    background-color: #E95A08;
    color: #fff;
    font-family: Inter;
    font-weight: 600;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    transition-duration: .5s;
}
/* Flower-Lover style  */

.Flower-Lover{
    margin-top: 210px;
    display: flex;
    align-items: center;
    gap: 60px;
}
.image-wrapper{
    position: relative;
    max-width: 540px;
   
    height: auto;
}
.image-wrapper img .main-image{
width: 100%;
height: auto;
display: block;

}
.badge{
    position: absolute;
    top: -125px;
    right: -95px;
    width: 280px;
    height: 280px;
   
}
.Flower-content{
    max-width: 540px;
    width: 100%;
    justify-items: start;
}
.Flower-title{
      font-weight: bold;
    font-size: 3.1rem;
    
    color: #000000;
    margin-bottom: 20px;
}
.Flower-content li {
    margin-bottom: 20px;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 500;
    font-size: 1.15rem;
}
/* Latest style 
 */
 .Latest{
    justify-items: center;
    margin-top: 133px;
 }
.section-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 25px;
    margin-top: 120px;
}
.left-column{
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 25px;
     max-width: 600px; 
    width: 100%;
    height: 410px;
}
.right-column{
    display: grid;
    grid-template-rows: 1fr 1fr;
    width: 100%;
       max-width: 650px;
    height: 820px;

}
.card  {
    position: relative;
    color: #fff;
    height: 100%;
    border-radius: 14px;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    background-size: cover;
    background-position: center;
}


 .bloom{
    background-image: url('assets/deal-bloom.png');
 
 }
 .Ana{
    background-image: url("assets/deal-ana.png");
       
 }
 .Zabo{
    background-image: url('assets/deal-zabo.png');
  
 }
 .Ana-Plant{
    font-weight: bold;
    font-size: 1.25rem;
    margin-bottom: 4px;
 }
 .Shop2Now{
    font-weight: 600;
    font-size: 1 rem;
    margin-bottom: 4px;
    color: #fff; 
    font-family: Inter;
 }
 .Zabo-Plant{
 font-weight: bold;
 font-size: 2.50rem;
 margin-bottom: 6px;
 }
 .Shop-Now{
    
     font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 4px;
    color: #fff;
    font-family: Inter;
 }
/* Footer style 
 */
 .footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* padding-top: 50px;
    padding-bottom: 50px; */
    padding: 50px 160px;
 }
 .logo{
    max-width: 360px;
    width: 100%;
 }
 .social-media-icon{
    display: flex;

    gap: 24px;
 }
.footer-meun-1 li{
margin-bottom: 32px;
color: #8987A1;
cursor: pointer;
}
/* Hover style 
 */

.menu a:hover {
    font-weight: bold;
    font-size: 1.25rem;
    color: #E95A08;
}

.btn:hover {
    font-size: 1.30rem;
    background-color: #fff;
    border: 2px solid #E95A08;
    color: #E95A08;
    box-shadow: 0 4px 16px #E95A08;
}

/* responsive media query  */

@media screen and (max-width:576px) {
    .menu-content,.badge {
        display: none;
    }

    .cart {
        display: block;
        display: flex;
        align-items: center;
        gap: 10px;
    }
  

    .banner {
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas: "img"
            "banner-content";
    }

    .img {
        grid-area: img;

    }

    .banner-content {
        grid-area: banner-content;

    }

    .plant-img {
        grid-template-columns: repeat(2, 1fr);
    }
    .Flower-Lover,.footer{
        flex-direction: column;
    }
    .section-container{
      
        grid-template-columns: repeat(1,1fr);
    }
}

@media screen and (min-width:576px) and (max-width:992px) {
   .plant-img {
        grid-template-columns: repeat(3, 1fr);
    }
     .Flower-Lover{
        flex-direction: column;
    }
}